[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
prompt = no

[req_distinguished_name]
C = BR
ST = SP
L = Sao Paulo
O = FreeSoftware
OU = MapTracking
CN = rootCAFreeSoftware

[v3_ca]
basicConstraints = CA:TRUE