[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = BR
ST = SP
L = Sao Paulo
O = FreeSoftware
OU = MapTracking
CN = client

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1