[req]
distinguished_name = req_distinguished_name
prompt = no
req_extensions = req_ext

[req_distinguished_name]
C = BR
ST = SP
L = Sao Paulo
O = FreeSoftware
OU = MapTracking
CN = server

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = 0.tcp.sa.ngrok.io